body{

    background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

color:whitesmoke;
}

h1,p{
    color:white;
}


u
{
    color:green;

}
.info{

    color:whitesmoke;
    transition: 1s ease-in-out;

}

.info:hover{

    transform: scale(1.3);
} 


.addr
{  
    color:whitesmoke;
    transition: 1s ease-in-out;

}

.addr:hover{

    transform: scale(1.3);
} 


.bgc{

    background-color:#d63031;
}

.dec{

   text-decoration:none;
   color:white;

}

